body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 10px;
}

.navbar {
  display: flex;
  border-radius: 900px;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
  padding: 0 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  gap: 20px;
  height: 60px;
}

/* --- Định dạng Logo --- */
.navbar__logo {
  font-size: 28px;
  font-weight: bold;

  text-decoration: none;
  padding: 10px 0;
  background: linear-gradient(
    45deg,
    #ef4444,
    #ff6700,
    #f97316,
    #ffac00,
    #eab308,
    #a7d129,
    #22c55e,
    #00a8e8,
    #3b82f6,
    #6a4c93,
    #8b5cf6,
    #c72c9b,
    #ec4899,
    #ef4444
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400% auto;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navbar__links {
  display: flex;
}

/* --- Định dạng chung cho các liên kết --- */
.navbar__links a {
  color: #d1d5db;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  transition: background-color 0.3s;
}

/* --- hover effect --- */
.navbar__links a:hover,
.dropdown:hover .dropdown__toggle {
  color: #38bcf7;
}

/* --- active trang đang ở --- */
.navbar__links a.active {
  color: #38bcf7;
}

.dropdown {
  position: relative;
}

.dropdown__content {
  display: none;
  position: absolute;
  top: 92%;
  left: 0;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.dropdown__content a {
  color: #333333;
  padding: 12px 16px;
  text-align: center;
}

/* hover eff */
.dropdown__content a:hover {
  background-color: #f1f1f1;
}

/* --- dropdown eff--- */
.dropdown:hover .dropdown__content {
  display: block;
}

/* --- Vùng chứa các hành động (search, cart, user) --- */
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 15px; /* Khoảng cách giữa các mục hành động */
}

/* --- Định dạng ô tìm kiếm --- */
.search__box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2px 5px;
  overflow: hidden;
}

.search__box input {
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: 14px;
  width: 60px;
  background: none;
  transition: width 0.3s ease-in-out;
}

.search__box input:focus {
  width: 180px;
}

.search__box button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.6s;
  transition: color 0.2s ease-in-out;
}

.search__box button:hover {
  background-color: #2980b9;
}

/* --- Định dạng cho các biểu tượng (cart, user) --- */
.action__icon {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 6px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.action__icon:hover {
  background-color: #34495e;
}

.navbar__links a {
  position: relative;
  overflow: hidden;
}

.navbar__links a::after {
  content: "";
  position: absolute;
  bottom: 12px; /* chỉnh vị trí đường gạch cho đẹp */
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 60%;
  height: 2px;
  background-color: #38bcf7;
  transition: transform 0.3s ease;
}

.navbar__links a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
